.todo {
  line-height: 51px;
}
.enter {
  transform: translateX(-100vw);
}
.enterActive {
  transform: translateX(0);
  transition: transform 250ms;
}
.exit {
  transform: translateX(0);
}
.exitActive {
  transform: translateX(-100vw);

  transition: transform 250ms;
}
